{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.mate_check, .friend_check, .bestie_check, .bff_check{border-radius:50%; -webkit-border-radius:50%; -o-border-radius:50%; -moz-border-radius:50%; width:20px; height:20px;}
.mate_check{background:#DBAD93;}
.friend_check{background:#D85A25;}
.bestie_check{background:#387AB2;}
.bff_check{background:#74D2EF;}
 div:empty{display:block !important;}
.loyalty-table{width:100%;}
.table-heading{margin:5px 0;}






{%- endstyle -%}



<div class="mob-page-width{% unless section.settings.full_width %} page-width{% endunless %}">
        <div class="section-{{ section.id }}-padding">
        <div class="loyalty-table d-flex flex-align-center">
        <div class="loyalty-th-cont">
            <div class="loyalty-th-head">
                    {% if section.settings.level != blank %}
                        <span class="table-level">{{section.settings.level}}</span>
                    {% endif %}

                    {% if section.settings.table_heading != blank %}
                        <h2 class="table-heading">{{section.settings.table_heading}}</h2>
                    {% endif %}

                    {% if section.settings.spend_value != blank %}
                        <span class="spend-value">{{section.settings.spend_value}}</span>
                    {% endif %}
            </div>

            <div class="loyalty-th-head">
                    {% if section.settings.level1 != blank %}
                        <span class="table-level">{{section.settings.level1}}</span>
                    {% endif %}

                    {% if section.settings.table_heading1 != blank %}
                        <h2 class="table-heading">{{section.settings.table_heading1}}</h2>
                    {% endif %}

                    {% if section.settings.spend_value1 != blank %}
                        <span class="spend-value">{{section.settings.spend_value1}}</span>
                    {% endif %}
            </div>

            <div class="loyalty-th-head">
                    {% if section.settings.level2 != blank %}
                        <span class="table-level">{{section.settings.level2}}</span>
                    {% endif %}

                    {% if section.settings.table_heading2 != blank %}
                        <h2 class="table-heading">{{section.settings.table_heading2}}</h2>
                    {% endif %}

                    {% if section.settings.spend_value2 != blank %}
                        <span class="spend-value">{{section.settings.spend_value2}}</span>
                    {% endif %}
            </div>

            <div class="loyalty-th-head">
                    {% if section.settings.level3 != blank %}
                        <span class="table-level">{{section.settings.level3}}</span>
                    {% endif %}

                    {% if section.settings.table_heading3 != blank %}
                        <h2 class="table-heading">{{section.settings.table_heading3}}</h2>
                    {% endif %}

                    {% if section.settings.spend_value3 != blank %}
                        <span class="spend-value">{{section.settings.spend_value3}}</span>
                    {% endif %}
            </div>

            <div class="loyalty-th-head">
                    {% if section.settings.level4 != blank %}
                        <span class="table-level">{{section.settings.level4}}</span>
                    {% endif %}

                    {% if section.settings.table_heading4 != blank %}
                        <h2 class="table-heading">{{section.settings.table_heading4}}</h2>
                    {% endif %}

                    {% if section.settings.spend_value4 != blank %}
                        <span class="spend-value">{{section.settings.spend_value4}}</span>
                    {% endif %}
            </div>

        </div>

        <div class="loyalty-table-inner-row">
            {%- for block in section.blocks -%}
                <div class="loyalty-column">
                    <div class="loyalty-row-inner">
                        {% if block.settings.row_text != blank %}
                        <div class="table-row-text">{{block.settings.row_text}}</div>
                        {% endif %}

                        {% if block.settings.mate_check == true %}
                            <div class="mate_check"></div>
                        {% endif %}

                        {% if block.settings.friend_check == true %}
                            <div class="friend_check"></div>
                        {% endif %}

                        {% if block.settings.bestie_check == true %}
                            <div class="bestie_check"></div>
                        {% endif %}

                        {% if block.settings.bff_check == true %}
                            <div class="bff_check"></div>
                        {% endif %}
                    </div>
                </div>
            {%- endfor -%}
        </div>
        </div>
        </div>
</div>

{% schema %}
{
  "name": "Loyalty Table",
  "tag": "section",
  "class": "section loyalty-table-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "For Level 1"
    },
    {
        "type": "text",
        "id": "level",
        "label": "Level"
    },
    {
        "type": "text",
        "id": "table_heading",
        "default": "Table row",
        "label": "Table Block Heading",
        "info": "Table Block Heading"
    },
    {
        "type": "text",
        "id": "spend_value",
        "label": "Spend Value"
    },
    {
      "type": "header",
      "content": "For Level 1"
    },
    {
        "type": "text",
        "id": "level1",
        "label": "Level1"
    },
    {
        "type": "text",
        "id": "table_heading1",
        "default": "Table row",
        "label": "Table Block Heading"
    },
    {
        "type": "text",
        "id": "spend_value1",
        "label": "Spend Value"
    },
    {
      "type": "header",
      "content": "For Level 2"
    },
    {
        "type": "text",
        "id": "level2",
        "label": "Level2"
    },
    {
        "type": "text",
        "id": "table_heading2",
        "default": "Table row",
        "label": "Table Block Heading"
    },
    {
        "type": "text",
        "id": "spend_value2",
        "label": "Spend Value"
    },
    {
      "type": "header",
      "content": "For Level 3"
    },
    {
        "type": "text",
        "id": "level3",
        "label": "Level"
    },
    {
        "type": "text",
        "id": "table_heading3",
        "default": "Table row",
        "label": "Table Block Heading"
    },
    {
        "type": "text",
        "id": "spend_value3",
        "label": "Spend Value"
    },
    {
      "type": "header",
      "content": "For Level 4"
    },
    {
        "type": "text",
        "id": "level4",
        "label": "Level"
    },
    {
        "type": "text",
        "id": "table_heading4",
        "default": "Table row",
        "label": "Table Block Heading"
    },
    {
        "type": "text",
        "id": "spend_value4",
        "label": "Spend Value"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Table Row",
      "settings": [
        {
          "type": "richtext",
          "id": "row_text",
          "label": "Row Text"
        },
        {
          "type": "checkbox",
          "id": "mate_check",
          "default": true,
          "label": "Mate Checkbox"
        },
        {
          "type": "checkbox",
          "id": "friend_check",
          "default": true,
          "label": "Friend Checkbox"
        },
        {
          "type": "checkbox",
          "id": "bestie_check",
          "default": true,
          "label": "Bestile Checkbox"
        },
        {
          "type": "checkbox",
          "id": "bff_check",
          "default": true,
          "label": "Bff Checkbox"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Loyal Table",
      "blocks": [
        {
          "type": "row"
        }
        
      ]
    }
  ]
}
{% endschema %}
