{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
.section-{{ section.id }}-padding .accordion__title{font-weight: 400; font-size: 15px; letter-spacing: 0.2px; color:#232936; font-family: 'Arial';}


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



<div class="mob-page-width{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="grid grid--1-col grid--2-col-tablet collapsible-content__grid{% if section.settings.desktop_layout == 'image_second' %} collapsible-content__grid--reverse{% endif %}">
        <div class="grid__item">
        {%- for block in section.blocks -%}
           <div class="loyalty-table">
           {% if block.settings.level != blank %}
            <span class="table-level">{{block.settings.level}}{{forloop.index}}</span>
           {% endif %}

           {% if block.settings.table_heading != blank %}
            <h2 class="table-heading">{{block.settings.table_heading}}</h2>
           {% endif %}

           {% if block.settings.spend_value != blank %}
            <span class="spend-value">{{block.settings.spend_value}}</span>
           {% endif %}

           </div>
        {%- endfor -%}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Loyalty Table",
  "tag": "section",
  "class": "section loyalty-table",
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "Collapsible content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Table Row",
      "settings": [
        {
          "type": "text",
          "id": "level",
          "label": "Level"
        },
        {
          "type": "text",
          "id": "table_heading",
          "default": "Table row",
          "label": "Table Block Heading",
          "info": "Table Block Heading"
        },
        {
          "type": "text",
          "id": "spend_value",
          "label": "Spend Value"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Loyal Table",
      "blocks": [
        {
          "type": "row"
        }
        
      ]
    }
  ]
}
{% endschema %}
